<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="icon" type="image/png" href="images/icon.png">
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/deepDesigner.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script src="/css/js/bootstrap.min.js"></script>


  <!-- Add a viewport meta tag to ensure proper rendering on mobile devices -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
  <div class="position-relative">
    {{>header}}
    <br>


             {{{body}}}


    <br>
    
    {{>footer}}

    </div>
 <script src="/css/js/script.js"></script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>

</html>