<div class="d-flex h-100 text-center p-4 {{!-- text-bg-dark --}}">


  <main class="px-3">
    <img alt="zaferakdenizz's profile picture" class="rounded-circle mb-3" crossorigin="anonymous" draggable="false" src="img/about/pp.jpg">

    <h1>Zafer Akdeniz</h1>
    <p class="lead">Adım Zafer 30 yaşındayım, iç mimarım.Yayınlarda çoğunlukla VALORANT oynuyoruz. Vpli çarklarımız mevcut, atlada 100 puana vp veriyoruz, sadakat puanı ile çeşitli ödüller veriyoruz. Her gün discord, her hafta sonu twitchte çekilişler düzenliyoruz. Haberdar olmak için takip et ve dc ye katıl.</p>
    <p class="lead">
      <a target="_blank" href="https://www.instagram.com/zaferakdenizz/" class="btn btn-lg btn-dark fw-bold border-white bg-dark">Bana Ulaş</a>
    </p>
  </main>

</div>